<div>
  <p>No parameters provided:</p>
  <p>{{ "TEXT" | translate }}</p>
</div>

<div>
  <p>Parameter variables provided:</p>
  <ul>
    <li>
      In template with pipe:
      <p>
        {{ "TEXT" | translate: { value1: paramValue1, value2: paramValue2 } }}
      </p>
    </li>
    <li>
      In template with directive (key as attribute):
      <p
        [translate]="'TEXT'"
        [translateParams]="{ value1: paramValue1, value2: paramValue2 }"
      ></p>
    </li>
    <li>
      In template with directive (key as content):
      <p
        translate
        [translateParams]="{ value1: paramValue1, value2: paramValue2 }"
      >
        TEXT
      </p>
    </li>
    <li>
      In code with API:
      <p>
        {{ stringInCode }}
      </p>
    </li>
  </ul>
</div>
