<div>
  <p>No parameters provided:</p>
  <p>{{ "TEXT" | translate }}</p>
</div>

<div>
  <p>Parameter values provided:</p>
  {{ "TEXT" | translate: { value1: "James", value2: "Mary" } }}
  <div
    [translate]="'TEXT'"
    [translateParams]="{ value1: 'James', value2: 'Mary' }"
  ></div>
</div>

<div>
  <p>Parameter variables provided:</p>
  {{ "TEXT" | translate: { value1: paramValue1, value2: paramValue2 } }}
  <div
    [translate]="'TEXT'"
    [translateParams]="{ value1: paramValue1, value2: paramValue2 }"
  ></div>
</div>
